#root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

label {
    font-weight: bold;
    display: flex;
    margin-bottom: 5px;
}

button.prevPage,
button.nextPage{
    margin-top: 50px;
}

input.searchInput{
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 400px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    align-items: center;
}

  input,
  select {
    display: block;
    width: 400px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    align-items: center;
  }


select {
    width: 427px;
}

.error {
    color: red;
    font-size: 12px;
    text-align: left;
}

.form-control {
    margin-bottom: 20px;
}

.product {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    text-align: center;

}
ul{
    list-style: none;
}


img.gif{
    width:50px;
    height:50px;
    margin-top: 15px;

}

p.pages{
    padding-top: 40px;
    margin-bottom: -40px;
}

.popup-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 1000;
  }
  
  .popup-modal.open {
    display: block;
  }
  
  .modal-content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #000;
  }